// .test1{
//   width: 250px;
//   height: 200px;
//    padding:20px;
//    margin-right: 50px;
//   }
// .test2{
//       width: 150px;
//       height: 200px;
//       padding:20px;

//   }
// .div{
//    border: 1px solid black;
//    padding: 5px 4px;
//    width: 500px;
//    height: 100px;
//    background-color: aqua;
//    margin-top: 36px;
//    margin-bottom: 36px;
// }
// .input{
//   width: 380px;
//   margin-right: 20px;
// }
// .button{
//   width: 100px;
// }

// .gif{
//   margin-left: 100px;
//   margin-bottom: 50px;
// }



// .account{
//   margin-bottom: 20px;
// }
// .button{
//   text-align: center;
//   width: 200px;
//   border-radius: 20px;
//   margin-top: 30px;
//   color: cadetblue;
// }

// .gif{
//   margin-top: 50px;
// }



.fi1{
  text-align: center;
  height: 80px;
  background-color :blue;
  color: aliceblue;
  margin-bottom: 10px;
}

.fi5{
  text-align: center;
  height: 80px;
  background-color :yellow;
  margin-bottom: 10px;
}


.fi2{
  text-align: center;
  margin-bottom: 10px;
  background-color :greenyellow;
}

.fi4{
  text-align: center;
  margin-bottom: 10px;
  background-color :green;
}

.fi3{
  text-align: center;
  margin-bottom: 10px;
  background-color :red;
  margin-right: 10px;
  margin-left: 10px;
}
